*.cache
*.dat
*.elc
*projectile-bookmarks.eld
config/configstore
config/gtk-2.0
config/inkscape
config/keybase/
config/netfabb/
config/pudb/
emacs.d/auto-save-list
emacs.d/elpa/archives
emacs.d/geben
emacs.d/recentf
emacs.d/tramp
emacs.d/url
