*.cache
*.dat
*.elc
*projectile-bookmarks.eld
emacs.d/elpa/archives
emacs.d/auto-save-list
emacs.d/geben
emacs.d/tramp
emacs.d/recentf
emacs.d/url
config/keybase/
config/netfabb/
config/pudb/
config/configstore
