*.cache
*.dat
*.elc
config/
zshrc.d/.env.*.zsh
emacs.d/elpa
emacs.d/anaconda-mode
emacs.d/*.eld
emacs.d/history
emacs.d/places
emacs.d/recentf
emacs.d/auto-save-list
emacs.d/custom.el
emacs.d/.lsp-session*
emacs.d/forge-database.sqlite
emacs.d/projects
emacs.d/transient 
emacs.d/eln-cache
emacs.d/.dap-breakpoints
